@model IEnumerable<Chick.ModelsViews.Kalendarz.PosilkiPartial>

@{ 
    Layout = null;
}

@foreach (var i in Model)
{
    <div class="kalendarzWiersz row m-0" id="Posilek_@i.ID">
        @for (DateTime data = i.DataStart; data <= i.DataStop; data = data.AddDays(1))
        {
            Html.RenderAction("DaniaWPosilku", new { posilek = i.ID, klucz = i.Klucz, data = data });
        }
    </div>
}
