
@{ 
    Layout = null;
}

<div class="col-2 mt-3 h-100 position-fixed text-secondary">

    <a href="#">
        <div class="row">
            <div class="col-12 aktywny p-2">
                <i class="icon-calendar mr-2 display-5"></i> Jadłospisy
            </div>
        </div>
    </a>

    <a href="#">
        <div class="row">
            <div class="col-12 mdl-js-ripple-effect p-2">
                <i class="icon-group mr-2 display-5"></i>Pacjenci
            </div>
        </div>
    </a>

    <a href="#">
        <div class="row">
            <div class="col-12 p-2 mdl-js-ripple-effect">
                <i class="icon-food mr-2 display-5"></i> Dania
            </div>
        </div>
    </a>

    <a href="#">
        <div class="row">
            <div class="col-12 p-2 mdl-js-ripple-effect">
                <i class="icon-food-1 mr-2 display-5"></i> Produkty
            </div>
        </div>
    </a>

    <a href="#">
        <div class="row">
            <div class="col-12 p-2 mdl-js-ripple-effect">
                <i class="icon-mail mr-2 display-5"></i>Wiadomości
            </div>
        </div>
    </a>

    <a href="#">
        <div class="row">
            <div class="col-12 p-2 mdl-js-ripple-effect">
                Nowości
            </div>
        </div>
    </a>
</div>