body {
    margin: 0;
    padding: 0;
    background: #fafafa !important;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif!important;
    height: 100%;
}

html {
    height: 100%;
}

.display-5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
}

.searchBox {
    background: url('../Images/icon-search.png') no-repeat;
    background-size: 20px 20px;
    background-position: left center;
    padding-left: 25px;
    border-radius: 4px;
}

.naglowek {
    background: #ff9800;
    width:100%;
}

    .naglowek .searchBox {
        background-color: #ffd290;
        width: 100%;
        height: 30px;
        border: none;
    }

        .naglowek a {
            color: white;
        }

        .naglowek a:hover{
            text-decoration: none;
            color: #808080;
        }

        .naglowek .logo {
            margin-top: -10px;
        }

        .naglowek .searchBox::placeholder {
            color: #000000;
        }

#leweMenu .aktywny {
    background: #ffe2b7;
    color: #ff9800;
    font-weight:400;
    border-top-right-radius: 21.5px;
    border-bottom-right-radius: 21.5px;
}

#leweMenu a {
    color: dimgray;
}

#leweMenu a:hover {
    text-decoration:none;
}

#zawartosc {
    position: fixed;
}

    #zawartosc .przyciski .searchBox {
        height: 33px;
        width:200px;
        border: solid #000000 1px;
    }


.jadlospisyContent {
    height: calc(100% - 109px);
    bottom: 0px;
}

.kalendarzContent {
    height: calc(100% - 170px);
    bottom: 70px;
    overflow-y: auto!important;
}


.content {
    border-radius: 4px;
    width: 82%;
}


    .content .wiersz:hover {
        background: #ebebeb
    }

    .content a {
        color: #6c757d;

    }

        .content a:hover {
            color: #42474b;
            text-decoration: none;
        }

.kartkaKalendarza {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-top: dotted 4px #fafafa;
    padding: 3px 0;
    background-color: #ff9000;
    text-align: center;
    color: #fafafa;
    font-weight: 500;
}

.PrawyDolny {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    background-color: #FFC80D;
    padding: 0px !important;
    font-size:40px !important;
    color:black!important;
    cursor: pointer !important;
}

.dzienTygodnia {
    font-size: 12px;
    font-weight: 500;
}

.dataDzienTygodnia {
    font-size: 11px;
    color: #fe4949;
}

.border-radius-4 {
    border-radius: 4px;
}

.kalendarzBlok {
    font-size: 11px;
    padding: 5px;
    display: block;
}

    .kalendarzBlok:hover .przyciskSzczegoly {
        display: block;
    }

.kalendarzWiersz {
    min-height: 16.666666% !important;
}

.przyciskiDialog {
    margin: -16px;
    display: block;
    padding: 5px;
    background-color: #ff9800;
}

    .przyciskiDialog a {
        color: white !important;
        text-decoration: none;
        display: block;
        border-radius: 12px;
        margin: auto 5px;
    }

        .przyciskiDialog a:hover, .przyciskiDialog .aktywny {
            background-color: #ffb649;
            text-decoration: none;
            color: aliceblue;
        }

.daniaDialog {
    overflow-y: auto;
}

    .daniaDialog a {
        color: black;
    }

        .daniaDialog a:hover {
            text-decoration: none;
            background-color: #ebebeb;
            color: black;
            
        }
    
.modal-moj {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.kalendarzDodajPrzycisk {
    display: block;
    padding: 3px 5px;
    background: #ff9800;
    color: white!important;
    border-radius: 4px;
    margin-bottom: 8px;
}

.kalendarzDodajPrzycisk:hover {
    background-color: #ce7b00;
}

.hover:hover {
    background-color: #ebebeb;
}

.m-pointer{
    cursor: pointer;
}

.przyciskSzczegoly {
    width: 50px;
    display: none;
    height: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.blokDaniaKalendarz {
    background-color: #e9eaea!important;
}